.THIS.table-container {
    height: 220px
}

.THIS.table-container thead th span {
    justify-content: center !important;
}

.THIS td {
    text-align: center !important;
}

.THIS.table-container lightning-primitive-header-actions { 
    display: none; 
}

.THIS .slds-has-button-menu .slds-th__action {
    padding: var(--lwc-tableCellSpacing,0.25rem 0.5rem) !important;
}

.THIS .inline-container {
    display: inline-flex;
}

.THIS .padding-right {
    padding-right: 20px;
}